In [1]:
# !pip install pandas

Requirement already satisfied: pandas in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd

:

In [3]:
노시환_성적_연도별 = pd.read_csv("/Users/chojungseok/Desktop/년도별 성적.csv")

In [4]:
노시환_성적_연도별

,연도,팀명,AVG,G,PA,AB,R,H,2B,3B,...,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E
0,2019,한화,0.186,91,192,177,19,33,8,1,...,13,2,2,11,2,72,3,0.260,0.241,7
1,2020,한화,0.220,106,387,346,46,76,18,2,...,43,0,1,33,6,116,8,0.387,0.298,13
2,2021,한화,0.271,107,458,380,56,103,18,1,...,84,5,2,73,1,107,15,0.466,0.386,20
3,2022,한화,0.281,115,490,434,55,122,24,1,...,59,6,2,48,4,95,13,0.382,0.355,10
4,2023,한화,0.298,131,595,514,85,153,30,1,...,101,2,1,74,4,118,13,0.541,0.388,19
5,통산,통산,0.263,550,2122,1851,261,487,98,6,...,300,15,8,239,17,508,52,0.433,0.350,69

2B : 2루타
3B : 3루타
AB : 타수
AO : 뜬공
AVG : 타율
BB : 볼넷
BB/K : 볼넷/삼진
CS : 도루실패
E : 실책
G : 경기
GDP : 병살타
GO : 땅볼
GO/AO : 땅볼/뜬공
GPA : (1.8x출루율+장타율)/4
GW RBI : 결승타
H : 안타
HBP : 사구
HR : 홈런
IBB : 고의4구
ISOP : 순수장타율
MH : 멀티히트
OBP : 출루율
OPS : 출루율+장타율
P/PA : 투구수/타석
PA : 타석
PH-BA : 대타타율
R : 득점
RBI : 타점
RISP : 득점권타율
SAC : 희생번트
SB : 도루
SF : 희생플라이
SLG : 장타율
SO : 삼진
TB: 루타
XBH : 장타
XR : 추정득점

In [5]:
노시환_성적_연도별.columns

Index(['연도', '팀명', 'AVG', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'TB',
       'RBI', 'SB', 'CS', 'BB', 'HBP', 'SO', 'GDP', 'SLG', 'OBP', 'E'],
      dtype='object')

In [8]:
노시환_성적_연도별

,연도,팀명,AVG,G,PA,AB,R,H,2B,3B,...,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E
0,2019,한화,0.186,91,192,177,19,33,8,1,...,13,2,2,11,2,72,3,0.260,0.241,7
1,2020,한화,0.220,106,387,346,46,76,18,2,...,43,0,1,33,6,116,8,0.387,0.298,13
2,2021,한화,0.271,107,458,380,56,103,18,1,...,84,5,2,73,1,107,15,0.466,0.386,20
3,2022,한화,0.281,115,490,434,55,122,24,1,...,59,6,2,48,4,95,13,0.382,0.355,10
4,2023,한화,0.298,131,595,514,85,153,30,1,...,101,2,1,74,4,118,13,0.541,0.388,19
5,통산,통산,0.263,550,2122,1851,261,487,98,6,...,300,15,8,239,17,508,52,0.433,0.350,69

In [13]:
노시환_성적_연도별_index = 노시환_성적_연도별.loc[0:4,['연도', 'AVG', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'SB', 'BB', 'E']]
노시환_성적_연도별_index

     연도    AVG    G   PA   AB   R    H  2B  3B  HR  SB  BB   E
0  2019  0.186   91  192  177  19   33   8   1   1   2  11   7
1  2020  0.220  106  387  346  46   76  18   2  12   0  33  13
2  2021  0.271  107  458  380  56  103  18   1  18   5  73  20
3  2022  0.281  115  490  434  55  122  24   1   6   6  48  10
4  2023  0.298  131  595  514  85  153  30   1  31   2  74  19

In [21]:
노시환_성적_연도별_index.rename(columns={'AVG' : '타율', 'G' : '경기', 'PA' : '타석', 'AB' : '타수', 'R' : '득점', 'H' : '안타', '2B' : '2루타', '3B' : '3루타', 'HR' : '홈런', 'SB' : '도루', 'BB' : '볼넷', 'E' : '에러'})

     연도     타율   경기   타석   타수  득점   안타  2루타  3루타  홈런  도루  볼넷  에러
0  2019  0.186   91  192  177  19   33    8    1   1   2  11   7
1  2020  0.220  106  387  346  46   76   18    2  12   0  33  13
2  2021  0.271  107  458  380  56  103   18    1  18   5  73  20
3  2022  0.281  115  490  434  55  122   24    1   6   6  48  10
4  2023  0.298  131  595  514  85  153   30    1  31   2  74  19

In [11]:
# !pip install plotly pandas

Requirement already satisfied: plotly in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (5.9.0)
Requirement already satisfied: pandas in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: tenacity>=6.2.0 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from plotly) (8.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [18]:
# !pip install dash

Collecting dash
  Obtaining dependency information for dash from https://files.pythonhosted.org/packages/7b/62/438626ab498869249e99376684ba6d88931e7c2dd86d03a92d9d7a9b4c54/dash-2.14.2-py3-none-any.whl.metadata
  Downloading dash-2.14.2-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: Flask<3.1,>=1.0.4 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from dash) (2.2.2)
Requirement already satisfied: Werkzeug<3.1 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from dash) (2.2.3)
Requirement already satisfied: plotly>=5.0.0 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from dash) (5.9.0)
Collecting dash-html-components==2.0.0 (from dash)
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Collecting dash-core-components==2.0.0 (from dash)
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Collecting dash-table==5.0.0 (from dash)
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Requirement already satisfied: typing-extensions>=4.1.1 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from dash) (4.7.1)
Requirement already satisfied: requests in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from dash) (2.31.0)
Collecting retrying (from dash)
  Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Collecting ansi2html (from dash)
  Downloading ansi2html-1.8.0-py3-none-any.whl (16 kB)
Requirement already satisfied: nest-asyncio in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from dash) (1.5.6)
Requirement already satisfied: setuptools in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from dash) (68.0.0)
Requirement already satisfied: importlib-metadata in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from dash) (6.0.0)
Requirement already satisfied: Jinja2>=3.0 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from Flask<3.1,>=1.0.4->dash) (3.1.2)
Requirement already satisfied: itsdangerous>=2.0 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from Flask<3.1,>=1.0.4->dash) (2.0.1)
Requirement already satisfied: click>=8.0 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from Flask<3.1,>=1.0.4->dash) (8.0.4)
Requirement already satisfied: tenacity>=6.2.0 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from plotly>=5.0.0->dash) (8.2.2)
Requirement already satisfied: MarkupSafe>=2.1.1 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from Werkzeug<3.1->dash) (2.1.1)
Requirement already satisfied: zipp>=0.5 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from importlib-metadata->dash) (3.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from requests->dash) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from requests->dash) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from requests->dash) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from requests->dash) (2023.11.17)
Requirement already satisfied: six>=1.7.0 in /Users/chojungseok/anaconda3/lib/python3.11/site-packages (from retrying->dash) (1.16.0)
Downloading dash-2.14.2-py3-none-any.whl (10.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.2/10.2 MB 5.3 MB/s eta 0:00:0000:010:01
Installing collected packages: dash-table, dash-html-components, dash-core-components, retrying, ansi2html, dash
Successfully installed ansi2html-1.8.0 dash-2.14.2 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 retrying-1.3.4

In [23]:
import dash
from dash import dcc, html
from dash.dependencies import Input, Output
import plotly.express as px
import pandas as pd

# Dash 앱 생성
app = dash.Dash(__name__)

# 드롭다운 메뉴 생성
dropdown_options = [{'label': col, 'value': col} for col in 노시환_성적_연도별_index.columns[1:]]
dropdown_default = [노시환_성적_연도별_index.columns[1]]

# 레이아웃 구성
app.layout = html.Div([
    html.H1("연도별 선수 성적 변화"),
    dcc.Dropdown(
        id='column-dropdown',
        options=dropdown_options,
        multi=True,
        value=dropdown_default
    ),
    dcc.Graph(id='line-plot')
])

# 콜백 함수 정의
@app.callback(
    Output('line-plot', 'figure'),
    [Input('column-dropdown', 'value')]
)
def update_graph(selected_columns):
    fig = px.line(노시환_성적_연도별_index, x='연도', y=selected_columns, title='연도별 선수 성적 변화')
    return fig

# 앱 실행
if __name__ == '__main__':
    app.run_server(debug=True)